<ion-view title="Cadastro Hortas" id="page11">
  <ion-content padding="true" style="background: url(img/HaIMkyvZTyWLKyUUlDe3_8cfb78d35c4107f5aa0e12e7cacb1e67.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 51px;"></div>
    <form id="cadastroHortas-form12" class="list">
      <label class="item item-input" id="cadastroHortas-input9">
        <input type="text" placeholder="Endereço">
      </label>
      <label class="item item-input" id="cadastroHortas-input10">
        <input type="text" placeholder="Nome da horta">
      </label>
      <label class="item item-input" id="cadastroHortas-input11">
        <input type="email" placeholder="E-mail">
      </label>
      <label class="item item-input" id="cadastroHortas-input12">
        <input type="tel" placeholder="Telefone">
      </label>
    </form>
    <button id="cadastroHortas-button29" class="button button-balanced button-block">Cadastrar</button>
  </ion-content>
</ion-view>