<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#D5EEBB;">
    <ion-header-bar class="bar-stable">
      <div class="title">Hortas</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      
      
      <div id="menu-container3">
        <ion-list id="menu-list5">
          <ion-item class="item-avatar" id="menu-list-item17" ui-sref="menu.perfil()" menu-close="">
            <img src="">
            <h2>Guilherme Alberto</h2>
            <p>Dono de 2 pets</p>
          </ion-item>
        </ion-list>
      </div>

      <ion-list id="hortas-list1">
        <ion-item class="item-icon-left balanced" id="hortas-list-item1" ui-sref="hortas.minhaHorta()" menu-close="">
          <i class="icon ion-ionic"></i>Minha horta</ion-item>
        <ion-item class="item-icon-left balanced" id="hortas-list-item2" ui-sref="hortas.listaDeHortas()" menu-close="">
          <i class="icon ion-ionic"></i>Hortas</ion-item>
        <ion-item class="item-icon-left balanced" id="hortas-list-item3" ui-sref="hortas.pedidos()" menu-close="">
          <i class="icon ion-ionic"></i>Pedidos</ion-item>
        <ion-item class="item-icon-left balanced" id="hortas-list-item4" ui-sref="hortas.doacoes()" menu-close="">
          <i class="icon ion-ionic"></i>Doações</ion-item>
        <ion-item class="item-icon-left balanced" id="hortas-list-item5" ui-sref="hortas.mapa()" menu-close="">
          <i class="icon ion-ionic"></i>Mapa</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>