<ion-view title="Lista de Hortas" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="listaDeHortas-button-bar3" class="button-bar">
      <button id="listaDeHortas-button16" class="button button-stable button-small button-block">A-Z</button>
      <button id="listaDeHortas-button17" class="button button-stable button-small button-block">Distância</button>
      <button id="listaDeHortas-button18" class="button button-stable button-small button-block">Tempo</button>
    </div>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="hortas.hortaInformacoes()" id="listaDeHortas-card213">
      <ion-item class="item-thumbnail-left" id="listaDeHortas-list-item62">
        <h2>Nome da horta</h2>
        <p>Informações</p>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="hortas.minhaHortaInformacoes()" id="listaDeHortas-card214">
      <ion-item class="item-thumbnail-left" id="listaDeHortas-list-item63">
        <h2>Nome da horta</h2>
        <p>Informações</p>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="hortas.hortaInformacoes()" id="listaDeHortas-card215">
      <ion-item class="item-thumbnail-left" id="listaDeHortas-list-item64">
        <h2>Nome da horta</h2>
        <p>Informações</p>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="hortas.hortaInformacoes()" id="listaDeHortas-card216">
      <ion-item class="item-thumbnail-left" id="listaDeHortas-list-item65">
        <h2>Nome da horta</h2>
        <p>Informações</p>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="hortas.hortaInformacoes()" id="listaDeHortas-card217">
      <ion-item class="item-thumbnail-left" id="listaDeHortas-list-item66">
        <h2>Nome da horta</h2>
        <p>Informações</p>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="hortas.hortaInformacoes()" id="listaDeHortas-card218">
      <ion-item class="item-thumbnail-left" id="listaDeHortas-list-item67">
        <h2>Nome da horta</h2>
        <p>Informações</p>
      </ion-item>
    </a>
  </ion-content>
</ion-view>