<ion-view title="Minha Horta Publicacoes" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" ui-sref="hortas.minhaHortaInformacoes()">
        <img src="img/DRmoPV2QPGWDY8mkFjbw_8a63180cc48517fbf5317d80f4f46240.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div id="minhaHortaPublicacoes-button-bar5" class="button-bar">
      <a ui-sref="hortas.minhaHorta()" id="minhaHortaPublicacoes-button25" style="border-radius:0px 0px 0px 0px;" class="button button-stable button-small button-block">Mensagens</a>
      <button id="minhaHortaPublicacoes-button26" style="border-radius:1px 1px 1px 1px;" class="button button-balanced button-small button-block">Publicações</button>
    </div>
    <form id="minhaHortaPublicacoes-form9" class="list">
      <label class="item item-input" id="minhaHortaPublicacoes-textarea1">
        <span class="input-label"></span><textarea placeholder="Digite aqui sua publicação"></textarea></label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <ion-radio id="minhaHortaPublicacoes-radio5" name="NewsType">Pedido</ion-radio>
      <ion-radio id="minhaHortaPublicacoes-radio6" name="NewsType">Doação</ion-radio>
      <button id="minhaHortaPublicacoes-button27" class="button button-positive button-small button-block">Publicar</button>
    </form>
  </ion-content>
</ion-view>